<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aixuexi.mapper.AxxQuestionMapper">
    
    <resultMap type="AxxQuestion" id="AxxQuestionResult">
        <result property="questionId"    column="question_id"    />
        <result property="servicemoduleId"    column="servicemodule_id"    />
        <result property="questionDesc"    column="question_desc"    />
        <result property="questionAnswer"    column="question_answer"    />
        <result property="status"    column="status"    />
        <result property="questionKey"    column="question_key"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAxxQuestionVo">
        select question_id, servicemodule_id, question_desc, question_answer, status, question_key, remark, del_flag, create_by, create_time, update_by, update_time from axx_question
    </sql>

    <select id="selectAxxQuestionList" parameterType="AxxQuestion" resultMap="AxxQuestionResult">
        <include refid="selectAxxQuestionVo"/>
        <where>  
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="servicemoduleId != null "> and servicemodule_id = #{servicemoduleId}</if>
            <if test="questionDesc != null  and questionDesc != ''"> and question_desc like concat('%', #{questionDesc}, '%')</if>
            <if test="questionAnswer != null  and questionAnswer != ''"> and question_answer like concat('%', #{questionAnswer}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="questionKey != null  and questionKey != ''"> and question_key like concat('%', #{questionKey}, '%')</if>
        </where>
    </select>
    
    <select id="selectAxxQuestionById" parameterType="Long" resultMap="AxxQuestionResult">
        <include refid="selectAxxQuestionVo"/>
        where question_id = #{questionId}
    </select>
        
    <insert id="insertAxxQuestion" parameterType="AxxQuestion" useGeneratedKeys="true" keyProperty="questionId">
        insert into axx_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="servicemoduleId != null">servicemodule_id,</if>
            <if test="questionDesc != null">question_desc,</if>
            <if test="questionAnswer != null">question_answer,</if>
            <if test="status != null">status,</if>
            <if test="questionKey != null">question_key,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="servicemoduleId != null">#{servicemoduleId},</if>
            <if test="questionDesc != null">#{questionDesc},</if>
            <if test="questionAnswer != null">#{questionAnswer},</if>
            <if test="status != null">#{status},</if>
            <if test="questionKey != null">#{questionKey},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAxxQuestion" parameterType="AxxQuestion">
        update axx_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="servicemoduleId != null">servicemodule_id = #{servicemoduleId},</if>
            <if test="questionDesc != null">question_desc = #{questionDesc},</if>
            <if test="questionAnswer != null">question_answer = #{questionAnswer},</if>
            <if test="status != null">status = #{status},</if>
            <if test="questionKey != null">question_key = #{questionKey},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where question_id = #{questionId}
    </update>

    <delete id="deleteAxxQuestionById" parameterType="Long">
        delete from axx_question where question_id = #{questionId}
    </delete>

    <delete id="deleteAxxQuestionByIds" parameterType="String">
        delete from axx_question where question_id in 
        <foreach item="questionId" collection="array" open="(" separator="," close=")">
            #{questionId}
        </foreach>
    </delete>
</mapper>